<app-search-bar [(searchValue)]="searchValue"></app-search-bar>
<p class="binding-checker">Current search value taken from parent component due to two-way binding is {{searchValue}}
</p>
<div class="add-button-container">
    <button class="add-course-button">
        <i class="material-icons">add</i>
        Add course
    </button>
</div>

<div class="list">
    <app-courses-list-item class="courses-list-item" *ngFor="let course of courses" [course]="course" (deleteRequest)="deleteItem($event)">
    </app-courses-list-item>
</div>
<button class="load-more-button" (click)="handleLoad()">LOAD MORE</button>