<app-search-bar [(searchValue)]="searchValue" (searchValueChange)="updateSearchValue($event)"></app-search-bar>
<div class="add-button-container">
    <button class="add-course-button" (click)="handleAddCourse()">
        <i class="material-icons">add</i>
        Add course
    </button>
</div>
<p *ngIf="(searchValue.length > 0 && (courses | sortBy: searchValue).length === 0) || (searchValue==='' && courses.length === 0)"
    class="no-data-message">NO DATA, FEEL FREE TO ADD A NEW COURSE</p>
<div *ngIf="(searchValue.length > 0 && (courses | sortBy: searchValue).length > 0) || (searchValue==='' && courses.length > 0)"
    class="list">
    <app-courses-list-item [ngClass]="{'top-background-color': course.topRated}" class="courses-list-item"
        *ngFor="let course of (this.coursesService.getCourses() | sortBy: searchValue | orderBy)" [course]="course"
        (deleteRequest)="deleteItem($event)" [appCoursePlateBorder]="course.creationDate">
    </app-courses-list-item>
</div>
<button class="load-more-button" (click)="handleLoad()">LOAD MORE</button>
<app-modal-dialog *ngIf="deleteModalOpened" (deleteItem)="handleDeleteItem($event)"></app-modal-dialog>
<div class="blocking-window" *ngIf="deleteModalOpened"></div>