@import "../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 100wv;
  height: 100%;
  background-color: map-get($colors, primary-color);

  .binding-checker {
      border: 1px solid map-get($colors, hover);
  }

  .list {
      align-self: center;
  }
}
.add-course-button,
.load-more-button {
  @include button();
  &:hover {
    cursor: pointer;
    background-color: map-get($colors, hover);
  }
}

.add-button-container {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
.add-course-button {
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    margin-right: 0.5rem;
  }
}
.load-more-button {
    align-self: center;
    margin-bottom: 5rem;
}