$colors: (
    primary: #F8E9A1,
    secondary: #A8E0DF,
    header-background: #24325E,
    button-background: #374785,
    hover: #F76C6C,
    dark-font:  rgb(24, 33, 63),
    light-font: rgb(248, 244, 226)
);