@import "../../../../styles/styles.scss";

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;

  .header {
    flex: 1 1 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 3rem;
    color: map-get($colors, light-font);

    h1 {
      font-size: 1.5rem;
    }
  }

  .log-in-header {
    background: linear-gradient(to right, map-get($colors, dark-background), map-get($colors, secondary));
  }
}
