@import "../../../../styles.scss";
:host {
    position: fixed;
    top: 10vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 1rem solid map-get($colors, hover);
    background-color: map-get($colors, primary);

    button {
        @include button();
    }
}