<img class="course-video-icon" src="../../../assets/video.jpg" alt="video">
<h2 class="course-heading">{{course.id}}.{{course.title | uppercase}}
</h2>
<i class="course-rating material-icons" *ngIf="course.topRated">star</i>
<p class="course-description">{{course.description}}</p>
<div class="course-duration">
    <i class="material-icons course-icon">schedule</i>
    <p>
        <span>Duration: </span>{{course.duration | durationDisplay }}
    </p>
</div>
<div class="course-creation">
    <i class="material-icons course-icon">date_range</i>
    <p>
        <span>Date: </span>{{course.creationDate | date: 'd MMM, yyyy'}}
    </p>

</div>
<div class="course-button-set">
    <button class="edit-button" (click)="handleEditClick()">
        <i class="material-icons">create</i>
    </button>
    <button class="delete-button" (click)="handleDeleteClick()">
        <i class="material-icons">delete</i>
    </button>
</div>