@import "../../../styles.scss";

:host {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr) 7rem;
  grid-template-areas: "img title cr bs" "img descr descr bs" "img date dur bs";
  justify-items: center;
  align-items: center;
  width: 80vw;
  height: 20vh;
  margin: 1rem 0;
  border: 1px solid map-get($colors, button-background);
  border-radius: 5px;
  box-shadow: 2px 2px 5px map-get($colors, dark-background);

  .course {
    &-video-icon {
      grid-area: img;
      justify-self: start;
      width: 20vw;
      height: 20vh;;
    }

    &-heading {
      grid-area: title;
      margin: 0;
      padding: 0;
    }

    &-description {
      grid-area: descr;
      justify-self: start;
      margin: 0 0 0 1rem;
      padding: 0;
    }

    &-duration {
      grid-area: dur;
    }

    &-icon {
      margin-right: 0.5rem;
      padding: 0;
      color: map-get($colors, button-background);
      
    }

    &-creation {
      grid-area: date;
      
    }

    &-duration, &-creation {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      p {
        margin: 0;
        padding: 0;
        span {
          color: map-get($colors, secondary);
          font-weight: bold;
        }
      }
    }

    &-button-set {
      grid-area: bs;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      opacity: 0; // will fix later
      transition: opacity 0.5s ease-in;

      button {
        @include button($width: 3rem, $height: 3rem);
        margin: 1rem 0;
        &:hover {
          cursor: pointer;
          background-color: map-get($colors, hover);
        }
      }
    }

    &-rating {
      grid-area: cr;
      font-size: 2.3em;
      color: map-get($colors, highlight);
      text-shadow: 0 0 3px map-get($colors, button-background);
    }
  }

  &:hover {
    .course-button-set {
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }
  }
}
