<mat-form-field appearance="outline">
    <mat-label>Creation date</mat-label>
    <input matInput [formControl]="name" type="text" size="10" (input)="handleInput($event)">
    <mat-hint>Enter video creation date in format "dd/MM/yyy"</mat-hint>
    <mat-error *ngIf="this.name.errors && this.name.errors.forbiddenDateFormat">
        Incorrect date format!.
    </mat-error>
    <mat-error *ngIf="this.name.errors && this.name.errors.required">
        Creation date is <strong>required</strong>
    </mat-error>
</mat-form-field>