@import "../../../styles.scss";

.breadcrumb-container {
  display: flex;
  margin: 0 5rem;
  .breadcrumb {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: map-get($colors, secondary);
    &:hover {
      color: map-get($colors, hover);
    }
    &:active {
      color: map-get($colors, hover);
    }
  }
  &__list {
    display: flex;
    width: 100%;
    padding: 0;
    list-style: none;

    &--item {
      font-size: 18px;
      font-weight: bold;
      color: map-get($colors, secondary);
    }
    &--item:after {
      content: "/";
      margin: 0 0.5em;
      font-size: 18px;
      font-weight: bold;
      color: map-get($colors, secondary);
    }
    &--item:last-child:after {
      content: "";
    }
  }
}
