<li class="course-list-item">
  <mat-card class="course-list-item__card">
    <mat-card-header>
      <mat-card-title>{{index}}. {{course.title | uppercase}}</mat-card-title>
      <mat-icon mat-card-avatar class="course-rating material-icons" *ngIf="course.topRated" color="warn">star</mat-icon>
    </mat-card-header>
    <mat-card-content class="course-list-item__card--content">
      <p class="course-list-item__card--content_description">{{course.description}}</p>
      <div class="course-list-item__card--content_info">
        <div class="course-list-item__card--content_info_field course-duration">
        <mat-icon color="primary">schedule</mat-icon>
        <p>
          <span>Duration: </span>{{course.duration | durationDisplay }}
        </p>
      </div>
      <div class="course-list-item__card--content_info_field course-creation">
        <mat-icon color="primary">date_range</mat-icon>
        <p>
          <span>Date: </span>{{course.creationDate | date: 'd MMM, yyyy'}}
        </p>
      </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button class="edit-button" (click)="handleEditClick()" color="primary">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button class="delete-button" (click)="handleDeleteClick()" color="primary">
      <mat-icon>delete</mat-icon>
    </button>
    </mat-card-actions>
  </mat-card>
</li>

