@import "../../../../styles/styles.scss";

:host {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  margin: -10rem 0 0 -20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  width: 40rem;
  height: 20rem;
  background-color: white;
  border: 0.1rem solid map-get($colors, secondary);
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem map-get($colors, dark-font);
  .heading {
      text-align: center;
  }
  .dialog-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    button {
        @include button;
        &:hover {
            cursor: pointer;
            background-color: map-get($colors, hover);
        }
    }
  }
}
