<div class="add-course-page">
    <form class="add-course-page__form" [formGroup]="addCourseForm" (ngSubmit)="handleSave()">
        <h2 class="add-course-page__heading">Add course</h2>
        <label>Title:
            <input #title formControlName="title" (input)="handleTitleInput(title.value)" placeholder="Course title"
                required>
        </label>

        <label>Description:
            <textarea #description formControlName="description" (input)="handleDescriptionInput(description.value)"
                placeholder="Course description..."></textarea>
        </label>

        <label>Date:
            <app-date-input formControlName="creationDate"></app-date-input>
        </label>

        <label>Duration:
            <div class="duration-container">
                <input #durationBar formControlName="duration" (input)="handleDurationInput(durationBar.value)"
                    placeholder="Course duration" required>
                <p class="duration-eval" *ngIf="duration >= 0">{{duration | durationDisplay}}</p>
            </div>
        </label>

        <!-- <label>Authors:
            <input #authors formControlName="authors" (input)="handleAutorInput(date.value)" placeholder="Authors"
                required>
        </label> -->
    </form>
    <div class="add-course-page__buttons-block">
        <button class="add-course-page__button" type="submit" (click)="handleSave()">Save</button>
        <button class="add-course-page__button" (click)="handleCancel()">Cancel</button>
    </div>
    <div class="add-course-page__error-message" *ngIf="title.invalid && (title.dirty || title.touched)">
        creation date is required
    </div>
</div>