<mat-card class="add-course-page" *ngIf="loaded">
    <mat-card-header>
        <mat-card-title>{{pageTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="add-course-page__form" [formGroup]="addCourseForm" (ngSubmit)="handleSave()">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Course title</mat-label>
                <input matInput #title placeholder="Course title" formControlName="title" [errorStateMatcher]="matcher"
                    (input)="handleTitleInput(title.value)">
                <mat-hint>Enter video title</mat-hint>
                <mat-error
                    *ngIf="addCourseForm?.controls?.title?.hasError('maxlength') && !addCourseForm?.controls?.title?.hasError('required')">
                    Maximum title length is 50 symbols
                </mat-error>
                <mat-error *ngIf="addCourseForm?.controls?.title?.hasError('required')">
                    Title is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Course description</mat-label>
                <textarea matInput #description formControlName="description"
                    (input)="handleDescriptionInput(description.value)" placeholder="Course description..."
                    [errorStateMatcher]="matcher"></textarea>
                <mat-hint>Enter video description</mat-hint>
                <mat-error
                    *ngIf="addCourseForm?.controls?.description?.hasError('maxlength') && !addCourseForm?.controls?.description?.hasError('required')">
                    Maximum description length is 500 symbols
                </mat-error>
                <mat-error *ngIf="addCourseForm?.controls?.title?.hasError('required')">
                    Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <app-date-input formControlName="creationDate" [name]="addCourseForm?.controls?.creationDate"
                [errorStateMatcher]="matcher"></app-date-input>
            <app-duration-input formControlName="duration" [name]="addCourseForm?.controls?.duration"
                [errorStateMatcher]="matcher"></app-duration-input>
            <app-authors-input formControlName="authors" [name]="addCourseForm?.controls?.authors"
                [errorStateMatcher]="matcher"></app-authors-input>
        </form>
    </mat-card-content>

    <mat-card-actions class="add-course-page__buttons-block">
        <button mat-raised-button color="primary" type="submit" (click)="handleSave()"
            [disabled]="!addCourseForm.valid">Save</button>
        <button mat-raised-button color="primary" (click)="handleCancel()">Cancel</button>
    </mat-card-actions>
</mat-card>