@import "../../../styles.scss";
:host {
    display: flex;
    align-items: center;
    .user {
        &-login {
            display: flex;
            align-items: center;
            i {
                margin-right: 0.5rem;
            }
            p {
                padding: 0;
            }
        }
        &-logoff {
            display: flex;
            align-items: center;
            margin: 0 1rem;
            @include button($width: 6rem, $height: 2rem);
            font-size: 0.8rem;
            &:hover {
                background-color: map-get($colors, hover);
            }

            i {
                margin-right: 0.5rem;
            }
        }
    }
}