@import "../../../../styles/styles.scss";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  width: 100vw;
  height: auto;
  background-color: map-get($colors, primary-color);

  .binding-checker {
    border: 0.1rem solid map-get($colors, hover);
  }

  .list {
    align-self: center;
  }
}
.add-button-container {
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.load-more-button {
  align-self: center;
  margin-bottom: 5rem;
  width: 50vw;
  height: 3em;
}

.no-data-message {
  border: 0.1rem solid map-get($colors, dark-background);
}

.top-background-color {
  background-color: map-get($colors, light-font);
}

.blocking-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: map-get($colors, light-opaque-background);
}
